@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

h1, p[id="description"] {
  text-align: center;
  color: white;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: 200;
}

p[id="description"] {
  font-style: italic;
  margin-top: -20px;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
}

body {
  background-image:  linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    margin-top: 60px;
    margin-bottom: 0;
}

label {
  display: block;
}


input, select, textarea{
  width: 100%;
  margin-top: 3px;
  margin-bottom: 15px;
  margin-left: 0;
  margin-right: 0;
  min-height: 2em;
  border-radius: 4px;
  border:  1px solid #0a0a23;
  padding: 5px;
  font-family: 'Poppins', sans-serif;
  color:  rgba(27, 27, 50, 0.8);
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

.form-div {
  width: 100%;
  background-color: rgba(27, 27, 50, 0.8);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}

fieldset {
  border: none;
}

input[type="submit"] {
  display: block;
  width: 100%;
  background-color: #37af65;
  min-width: 300px;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 2px;
  font-family: 'Poppins', sans-serif;
}